# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
env/
.venv/
.env/

# Arquivos de configuração de editores
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log e de saída
*.log
relatorio_instagram.csv
